@charset "UTF-8";
body {
    font-family: "Open Sans", sans-serif;
    font-size: 12px
}

h1 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 30px
}

p {
    margin-top: 0;
    margin-bottom: 0
}

a {
    text-decoration: none;
    color: grey
}

.container {
    width: 900px;
    margin: auto
}

.step__img {
    margin-bottom: 40px
}

.steps__main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.steps__one  {
	width: 48%;
}

.steps__one, .steps__three, .steps__two {
    text-align: center;
    height: 100%
}

.steps__three, .steps__two {
    width: 24%;  
}

.steps__select {
    padding: 3px
}

.steps__one .steps__select {
    border-bottom: 2px solid grey
}

.steps__one .steps__text {
    margin-bottom: 70px
}

.steps__text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    -ms-flex-align: end;
    align-items: flex-end
}

.steps__dark {
    color: #fff;
    background: grey
}

.steps__light {
	border-bottom: 2px solid grey;
	color: #000;
}

.steps__one_activated {
    display: block
}

.steps__one_deactivated {
    display: none
}

.steps__red {
    color: black;
    border-bottom: 2px solid grey;
    padding: 0 30px
}
.steps__red span {
	color: red;
	margin-bottom: 20px;
}

.steps__one .steps__red { 
	border-bottom: none;

}

.btn-primary, .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary, input {
    color: grey;
    background-color: #fff;
    border-color: grey;
    margin-bottom: 20px
}

.custom-file-label::after {
    content: "Файл в формате jpeg, png";
    left: 0;
    width: 150px
}

.btn, .dropdown-menu {
    padding: 2px 7px;
    font-size: 10px
}

.dropdown-menu {
    top: 47%
}

.dropdown-menu > li > a {
    padding: 3px 5px
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: grey;
    background-color: #fff;
    border-color: grey
}

.selectpicker:last-child {
    margin-bottom: 0
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), .selectpicker {
    width: 160px
}

.selectpicker {
    display: inline-block;
    overflow: hidden;
    text-align: left
}

.input-group > .custom-file:not(:last-child) .custom-file-label, .input-group > .custom-file:not(:last-child) .custom-file-label::after {
    font-size: 1rem
}

.input-group-text {
    border: transparent;
    background-color: transparent
}

 

.steps__samples_img {
    width: 60px;
    height: 60px
}

.steps__text300 {
	font-weight: 300;
	margin-bottom: 20px;
	font-size: 10px;
}

.steps__text800 {
	font-weight: 800;
	font-size: 10px;
	margin-bottom: 20px;
}


.input-group {
    width: 200px;
    margin: 0 auto
}

#gallery {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px
}

#gallery .photos {
    position: relative;
    height: 150px
}

#gallery .photos .img {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s
}

#gallery .photos .img.showed {
    opacity: 1
}


/* 
#gallery .photos img {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s
}

#gallery .photos img.showed {
    opacity: 1
} */

.steps__attention {
    text-align: left;
    font-size: 12px;
    color: grey;
    font-weight: 500;
    margin-top: 91px
}

.buttons input {
    position: relative;
    display: inline-block
}

.buttons input {
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

#gallery {
    position: relative
}

.buttons {
    position: absolute;
    top: 48%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.fa-caret-left {
    left: 11px;
    z-index: 999
}

.fa-caret-right {
    right: 10px;
    z-index: 999
}

.prev {
    left: 10px;
    margin-right: 100px
}

.next {
    right: 10px
}

.next, .prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0
}

.fas {
    color: #fff;
    position: absolute;
    top: 3px
}

input, select {
    border: 1px solid grey
}

.bs-caret {
    display: none
}

.steps__total {
    text-transform: uppercase;
    margin-right: 10px
}

.steps__total span, .steps__red_price {
    color: red
}

.steps__end {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 26px
}

.steps__submit {
    background: red;
    color: #fff
} 
 
.steps__samples_item {
	display: inline-block;
	margin-right: 10px;
	display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 210px;
    margin-bottom: 40px;
}
.steps__samples_item input[type=radio] {
	display: none;
}
.steps__samples_item label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}
 
/* Checked */
.steps__samples_item input[type=radio]:checked + label {
	background: #ffe0a6;
}
 
/* Hover */
.steps__samples_item label:hover {
	color: #666;
	background: grey;
}
 
/* Disabled */
.steps__samples_items input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
} 

.callme {
	 border: none;
	border-bottom: 2px solid grey;
	height: 42px;
	margin-bottom: 0;
	width: 172px;
 }

.callme-popup input[type=text]{
    padding: 20px;
    color: red;
}

.for-callme-popup{
    display: none;
}


.modal{
	/* position: fixed; */
	overflow: scroll;
    width: 60vw;
    height: 70vh;
    margin: 20vh 0 0 20vw;
    background: #fff;
    display: none;
    z-index: 1001;
    box-sizing: border-box;
    padding: 20px;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
    cursor: pointer;
}

.open2{
    display: block;
}

.steps__steps{
    display: none;
}

@media screen and (max-width: 1800px) {
    .container {
        width: 95%
    }
}

